.logo{
 background-color: ;
}

.sidebar-wrapper{
	background-image: url(../img/fondo_izquierda.jpg);
}
 
  
#map {
	height: 500px;
	width: 500px;
	float: right;
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}